venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env

.aws/

.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.log
docker-compose.override.yml


.DS_Store
Thumbs.db
.vscode/
.idea/

node_modules/
dist/
build/

*.pem
*.key
*.crt
secrets.yaml